body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
}
:root {
    --footer-color: #2F303A;
    --bright-color: #2196F3;
    --logo-color-dark: #000000;
    --main-color: #FFFFFF;
    --heading-color: #212121;
    --text-color: #757575;
    --bg-color: #F5F4FA;
    --footer-contacts-color:  rgba(255, 255, 255, 0.6);
}
.list-style-none {
    list-style: none;
} 
.link-style-none {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
}
.nav-link {
    color: var(--heading-color);
}
.logo {
    color: var(--bright-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.logo-dark {
    color: var(--logo-color-dark);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.logo-light {
    color: var(--main-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.contact-link {
    color: var(--text-color);
}

.hero {
    background-color: var(--footer-color);
    min-height: 600px;
}
.hero-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
}
.main-button {
    text-align: center;
}
.hero-button {
    color: var(--main-color);
    background-color: var(--bright-color);
    border-color: transparent;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    margin: auto;
}
.hero-button:hover, .hero-button:focus {
    background-color: #188CE8;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

.advantages-heading {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--heading-color);
}
.advantages-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.team-section {
    background-color: var(--bg-color);
}
.team-member {
    background-color: var(--main-color);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
}
.team-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.team-job {
    font-weight: normal;
}
.site-footer {
    background-color: var(--footer-color);
}
.footer-address {
    font-style: normal;
}
.contacts {
    color: var(--footer-contacts-color);
}
.nav-link:hover, .nav-link:focus, .contact-link:hover, .contact-link:focus {
    color: var(--bright-color);
}
.map {
    color: var(--main-color);
}

.filter-button {
    color: var(--heading-color);
    background-color: var(--bg-color);
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 22px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.63;
}
.filter-button:hover, .filter-button:focus{
    color: var(--main-color);
    background-color: var(--bright-color);
}

.gallery-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--heading-color);
}
.gallery-item-name {
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--text-color);
}

.section-heading {
    color: var(--heading-color);
    font-size: 36px;
    font-weight: 1.17;
    font-weight: 700;
    letter-spacing: 0.03;
    text-align: center;
}